* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: none;
    
}

html {
    height: 100%;
}

body, a {
    min-height: 100%;
    color: #2b6777;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.navbar {
    font-size: 1.3rem;
    font-weight: 400;
}

.nav-link {
    color: #2b6777;
}

.navbar:hover {
    box-shadow: 0 0 18px rgb(157, 155, 245);
}

#map-area, .last-born {
    color: #2b6777;
    background: #f2f2f2;
}

.hero {
    position: relative;
    height: 500px;
    background-image: url(/images/hero-bible.jpg);
    background-color: #2b6777;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

.hero-text {
    position: absolute;
    top: 25%;
    right: 50%;
    bottom: 50%;
    left: 25%;
    font-weight: bold;
}

.h1 {
    font-size: 10rem;
}

.btn {
    width: 290px;
    border: 2px solid #2b6777;
    border-radius: 0px;
    letter-spacing: 1.6px;
    font-weight: 500;
    background: #ffffff;
}

.btn:hover {
    border: 2px solid #2b6777;
    color: #c8d8e4;
}

a {
    text-decoration: none;
}

#who, #leadership {
    background: #2b6777;
    color: #f2f2f2;
}

#whatwebelieve {
    background: #c8d8e4;
    color: #f2f2f2;
}

.card {
    box-shadow: 0 0 18px rgb(157, 155, 245);
}

iframe {
    width: 100%;
    height: 350px;
}

#last-child-footer {
    background: #2b6777;
}
.contact, .card, #anchor, #last-child-footer, #h1 {
    color: #2b6777;
}

